{# src/OC/PlatformBundle/Resources/views/Equipe/deleteEquipe.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Supprimer un joueur - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Supprimer </h2>

  <p>
    Etes-vous certain de vouloir supprimer l'élément ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('oc_platform_delete', {'nameObjet':objetName,'id': objet.id}) }}" method="post">
    <a href="{{ path('oc_platform_view', {'nameObjet':objetName,'id': objet.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}